<div class="link-box" aria-label="Contact links">
    <ul>
        <li><a rel="noopener noreferrer" aria-label="LinkedIn: Tero Hänninen" href="https://www.linkedin.com/in/terohanninen/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a rel="me noopener noreferrer" aria-label="Mastodon: @0xtero" href="https://ohai.social/@0xtero"><i class="fa fa-mastodon" aria-hidden="true"></i></a></li>
        <li><a rel="noopener noreferrer" aria-label="Email: tero@hanninen.eu" href="mailto:tero@hanninen.eu"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
        <li><a rel="noopener noreferrer" aria-label="GPG public key" href="{{ '/tero@hanninen.eu.gpg.asc' | relative_url }}"><i class="fa fa-gnupg" aria-hidden="true"></i></a></li>
    </ul>
</div>
